version: "3"
{% if repo_size == 'single-package' %}
includes:
  python: taskfiles/python.yml
{% endif %}
tasks:
  init:
    desc: Set up the development environment
    deps: [prereqs]
    cmds:
      - git config core.hooksPath scripts/git-hooks
      - uv sync {% if repo_size == 'monorepo' %}--all-packages {% endif %}--all-groups --all-extras --locked

  check:
    desc: Run all automated checks
    deps: [init]
{%- if repo_size == 'monorepo' %}
    vars:
      PROJECTS:
        sh: find . -mindepth 2 -name Taskfile.yml -exec dirname {} \;
    cmds:
      - for: { var: PROJECTS, as: PROJECT }
        cmd: task -d {% raw %}{{.PROJECT}}{% endraw %} check
{%- else %}
    cmds:
      - task: python:check
{%- endif %}

  prereqs:
    desc: Check that required programs are installed
    cmds:
      - bash scripts/check-prereqs.sh
