{
	"$schema": "https://unpkg.com/knip@latest/schema.json",
	"includeEntryExports": true,
	"workspaces": {
		".": {
			"entry": ["scripts/**/*.mjs"],
			"ignoreBinaries": ["ditto"{% if repo_size == 'monorepo' %}, "task"{% endif %}]
		}
	}
}
